@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
  background-image: linear-gradient(
    to right,
    #0712f0,
    #6900ed,
    #9300e9,
    #b400e5,
    #d000e1,
    #d000e2,
    #d100e2,
    #d100e3,
    #b600e8,
    #9501ed,
    #6a11f2,
    #091ef6
  );
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #212f42;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
